<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="./static/index.css">
        <meta charset="UTF-8">
        <title>Accueil</title>
    </head>
    <body>

        <nav>
            <a href="{{ url_for('index') }}"></a>

            <div id="lien_nav">
            <a>
                <h3>ThermEau</h3>
            </a>
            
            <a>
                <h5>Acceuil</h5>
            </a>

            <a>
                <h5>Stations</h5>
            </a>

            <a>
                <h5>À propos</h5>
            </a>
        </nav>

        <h1>
            L'essentiel sur les cours d’eau français
        </h1>

        <p>
            Ce site permet de consulter les températures 
            des rivières en France grâce aux données de 
            l’API Hub’Eau.
        </p>

        <a>
            <h4>Stations</h4>
        </a>

        <img src="" alt="image not found">

    </body>

</html>