<!DOCTYPE html>
<html>
    <head>

        <!-- PAGE FONT SETUP -->

            <!-- PRECONNECT -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
            <!-- NAV FONT / USED IN BOTH -->
            <link href="https://fonts.googleapis.com/css2?family=Jockey+One" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Unbounded" rel="stylesheet">
        
            <!-- PAGE FONT -->
        
            <link href="https://fonts.googleapis.com/css2?family=Jost" rel="stylesheet">


        <!-- CLASSIC PAGE SETUP -->
        <link rel="stylesheet" href="./static/nav.css">
        <link rel="stylesheet" href="./static/index.css">

        <meta charset="UTF-8">
        <title>Accueil</title>
        



    </head>



    <body>
        
        <nav>
            <a href="{{ url_for('index') }}" id="logo">
                ThermEau
            </a>
            

            <div id="nav_links">
                <a href="{{ url_for('index') }}">
                    Accueil
                </a>

                <a href="">
                    À propos
                </a>
            </div>


        </nav>
        <iframe src="carte.html" frameborder="3"></iframe>


        <aside> <!-- text -->
            <h1>
                L'essentiel sur les cours d’eau français
            </h1>

            <p>
                Ce site permet de consulter les températures 
                des rivières en France grâce aux données de 
                l’API Hub’Eau.
            </p>
        </aside>

        <section ><!-- Graph section -->
            <div>
                <h2>nom de la station (code)</h2>

            
                <a>
                    <img src="static/full-screen_icon.png">
                </a>

                <a>
                    <img src="static/cancel_icon.png">
                </a>
            
            </div>

        </section>



         <script>
    // Écouter les messages reçus depuis l’iframe
    window.addEventListener('message', function(event) {
      // Optionnel : sécuriser ici en vérifiant l'origine
      // if (event.origin !== "http://ton-domaine.com") return;

      // Vérifier que c’est un clic sur un marker
      if (event.data && event.data.action === 'markerClick') {
        const nom = event.data.name || "point inconnu";
        alert("Vous avez cliqué sur : " + nom);
        // Tu peux aussi ici ouvrir une vraie modale Bootstrap, afficher du contenu, etc.
      }
    });
  </script>
  

    </body>

</html>