<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('index') }}"></a>

            <div id="lien_nav">
            <a>
                <h3>ThermEau</h3>
            </a>
            
            <a>
                <h5>Acceuil</h5>
            </a>

            <a>
                <h5>Stations</h5>
            </a>

            <a>
                <h5>À propos</h5>
            </a>
        </nav>


    </body>

</html>