/* PAGE */

aside{
    position: absolute;
    background-color: white;

    height: 240px;
    width: 350px;

    border-top-left-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.303) 0px 3px 5px ;


}


h1{
    position: relative;
    font-family: Unbounded;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: center;

}

p{
    font-size: 15px;
    font-family: Jost;
    opacity: 60%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    
}

