/* PAGE */

aside{
    position: absolute;
    background-color: white;

    height: 30%;
    width: 23%;

    top:20%;
    left:2%;

    border-top-left-radius: 13px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.303) 0px 3px 5px ;

}


aside h1{
    position: relative;
    font-family: Unbounded;
    font-size: 120%;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: center;

}

aside p{
    font-size: 100%;
    font-family: Jost;
    opacity: 60%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    
}


section{
    width: 40%;
    height: 45%;

    position: absolute;
    right:0.5%;
    bottom: 2%;

    background-color: white;

    border: solid;
    border-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.653) 0px 2px 3px ;
}

section div{
    background-color: rgba(118, 152, 173, 0.65);
    height: 20%;
    width: 100%;
    border-top-left-radius: 12.5px;
    border-top-right-radius: 12.5px;
    margin-top: 0;
}


section div h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3%;
    margin-left: 10%;
}

section div a{

    display: inline-block;

    width: 6%;
    height: 50%;

    position: relative;
    top:-45%;
    left:85%
}

section div img{
    width: 100%;

}


.folium-map{
    z-index: -100;
}



